{% load i18n %}
<section>
    <div class="container">
        <header class="d-flex justify-content-center py-3">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                  <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>
              </div>
    
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <!-- <li><a href="#" class="nav-link px-2">Features</a></li>
                <li><a href="#" class="nav-link px-2">Pricing</a></li>
                <li><a href="#" class="nav-link px-2">FAQs</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li> -->
                {% include 'section_language.html' %}
            </ul>
            <div class="col-md-3 text-end">
              {% if user.is_authenticated %}
              <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">{% trans "Log Out" %}</button>
                  </div>
              </form>
              {% else %}
            <a href="{% url 'login' %}">
              <button type="button" class="btn btn-outline-primary me-2">
                {% trans "Log In" %}
              </button>
            </a>
            <a href="{% url 'signup' %}">
              <button type="button" class="btn btn-primary">
                {% trans "Sign Up" %}
              </button>
            </a>      
            {% endif %}
            </div>
        </header>
      </div>
</section>